USE [master]
GO
/****** Object:  Database [BioStarDB]    Script Date: 14-07-2023 14:58:03 ******/
CREATE DATABASE [BioStarDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SupremaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SupremaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SupremaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SupremaDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BioStarDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BioStarDB]
GO
/****** Object:  SqlAssembly [DataDecryptionAssembly]    Script Date: 14-07-2023 14:58:03 ******/
CREATE ASSEMBLY [DataDecryptionAssembly]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300C961FCC80000000000000000E00022200B013000001000000006000000000000EE2F0000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030060850000100000100000000010000010000000000000100000000000000000000000992F00004F00000000400000D803000000000000000000000000000000000000006000000C000000E82E0000380000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000F40F0000002000000010000000020000000000000000000000000000200000602E72737263000000D8030000004000000004000000120000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001600000000000000000000000000004000004200000000000000000000000000000000CD2F000000000000480000000200050040230000A80B000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B3003007700000001000011000073050000060A1616FE010B072C3B00060F00FE16120000016F1000000A0F01FE16120000016F1000000A6F030000060C04281100000A086F1200000A281300000A8112000001002B0900040281120000010000DE1F0D00047201000070096F1400000A281500000A281300000A8112000001FE1A2A0001100000000001005657001F1300000113300400B4000000020000110003281600000A0A068E698D190000010B160C2B13001F0906089161D20D0708099C00081758D20C08068E69FE04130411042DE11613052B660007110591130611061F41320B11061F5AFE0216FE012B0116130711072C1507110511061F41591F15581F1A5D1F4158D29C2B2B11061F61320B11061F7AFE0216FE012B0116130811082C1307110511061F61591F15581F1A5D1F6158D29C001105175813051105078E69FE04130911092D8D07130A2B00110A2A1B300500980000000300001100020428020000060A06281700000A0003196F1800000A281600000A0B731900000A0C000820000100006F1A00000A0008066F1B00000A0008176F1C00000A001F108D190000010D061609161F10281D00000A0008096F1E00000A0008186F1F00000A00086F2000000A13040011040716078E696F2100000A1305DE1811042C0811046F2200000A00DC082C07086F2200000A00DC11052A011C000002006C00117D000D0000000002002300678A000B000000001B300500B3000000040000110072110000700A0072130000700B07282300000A0C726B0000700D08096F2400000A1304110415FE0116FE01130511052C5400081104096F2500000A586F1800000A13061106178D170000012516728F000070A2176F2600000A13071107280100002B6F2800000A1308110872950000706F2400000A130411081611046F2900000A0A002B0672110000700A0206281300000A811200000100DE1713090072110000700A0206281300000A8112000001FE1A2A000110000000000700949B0017130000012202282A00000A002A00000042534A4201000100000000000C00000076342E302E33303331390000000005006C00000068030000237E0000D40300003405000023537472696E677300000000080900009C00000023555300A4090000100000002347554944000000B4090000F401000023426C6F620000000000000002000001471502000908000000FA01330016000001000000230000000200000005000000070000002A0000001000000004000000010000000300000001000000000023030100000000000600E401250406005102250406000201F3030F004504000006002A016C030600C7016C030600A8016C03060038026C03060004026C0306001D026C03060057016C030600160106040600F400060406008B016C03060072019D02060083043C030A004101C2030A00C802540406007E033C030E00A903110506005B03110506009402C6040600DE023C030600BE043C0306006F023C030600CE003C030600430311050600900011050600DE043C030600840011050600BD003C030600C9002100060069043C030E00B2009D030600010060000000000018000000000001000100010010008E0388034100010001005020000000009600AB04E1000100E420000000008100EF02EC000400A4210000000086004600F20005006422000000009600F304F90007003423000000008618DD0306000800000001005200000002000D0502000300A700000001003E00000001003E0000000200EC040200010006050900DD0301001100DD0306001900DD030A002900DD0310003100DD0310003900DD0310004100DD0310004900DD0310005100DD0310005900DD0310006100DD0315006900DD0310007100DD0310007900DD0310008900DD0306008100D2022400B1000F002800B100DB022D0091008A04330099009B002400B9007C043900C100B7025000D100D6006500B900E5026A00A100DD030600D90074020100D900E4046F00D9007B007500E9002E057B00D9002B006F00D90088028600D900E3038C00A9000F039100F900EC0006000101D204A900B9008002AE00B9000403B300B9009604B70011019C04C100B90056032400B900E502D2008100DD03060020007B00EE012E000B0000012E00130009012E001B0028012E00230031012E002B004B012E0033004B012E003B004B012E00430031012E004B0051012E0053004B012E005B004B012E00630069012E006B0093012E007300A00180007B00EE011A003F0056009A0004800000010000000000000000000000000088030000040000000000000000000000D800570000000000040000000000000000000000D800320000000000040000000000000000000000D800E000000000004F00CE0000000049456E756D657261626C656031006765745F55544638003C4D6F64756C653E0053797374656D2E494F007365745F49560053797374656D2E4461746100617267446174610044656372797074446174610064617461006D73636F726C69620053797374656D2E436F6C6C656374696F6E732E47656E65726963007365745F4D6F64650050616464696E674D6F6465004369706865724D6F6465006765745F4D657373616765007374724D65737361676500456E756D657261626C650049446973706F7361626C650046696C6500436F6E736F6C650057726974654C696E650053797374656D2E436F726500446973706F736500477569644174747269627574650044656275676761626C6541747472696275746500436F6D56697369626C6541747472696275746500417373656D626C795469746C654174747269627574650053716C50726F63656475726541747472696275746500417373656D626C7954726164656D61726B417474726962757465005461726765744672616D65776F726B41747472696275746500417373656D626C7946696C6556657273696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C794465736372697074696F6E41747472696275746500436F6D70696C6174696F6E52656C61786174696F6E7341747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C79436F6D70616E794174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650042797465007365745F4B657953697A6500496E6465784F66007365745F50616464696E6700456E636F64696E670053797374656D2E52756E74696D652E56657273696F6E696E670046726F6D426173653634537472696E670053716C537472696E6700546F537472696E6700476574537472696E6700537562737472696E670052656D6F7665537472696E675368696674696E67006765745F4C656E677468005472616E73666F726D46696E616C426C6F636B00444C4C466F724461746144656372797074696F6E2E646C6C0053797374656D0053796D6D6574726963416C676F726974686D005472696D004943727970746F5472616E73666F726D0053797374656D2E5265666C656374696F6E00457863657074696F6E00444C4C466F724461746144656372797074696F6E0053797374656D2E4C696E710041657343727970746F5365727669636550726F7669646572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F7200437265617465446563727970746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E496E7465726F7053657276696365730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C547970657300537472696E6753706C69744F7074696F6E7300436F6E636174004F626A656374006F705F496D706C696369740053706C69740046697273744F7244656661756C7400446372797074656444617461526573756C7400436F6E766572740053797374656D2E546578740052656164416C6C54657874004172726179007365745F4B6579006172674B6579004665746368456E6372797074696F6E4B6579007374724B6579006B65790053797374656D2E53656375726974792E43727970746F67726170687900436F70790000000F4500720072006F0072003A0020000001005743003A005C00500072006F006700720061006D002000460069006C00650073005C00420069006F00530074006100720020003200280078003600340029005C007500740069006C005C0065006E0063006B00650079000023220065006E006300720079007000740069006F006E005F006B006500790022003A00000520002200000522002C000000F2B5D8A5518D824590D57582F328915100042001010803200001052001011111042001010E04200101020907041208021D05124D0320000E04000012590520010E1D0505000111490E0500020E0E0E10070B1D051D0505050208050202021D050500011D050E0E07061D051D0512511D0512551D05040001011C0420010E08052001011D050520010111710A0005011275081275080805200101117904200012550820031D051D0508080E070A0E0E0E0E08020E1D0E0E124D0400010E0E042001080E032000080920021D0E1D0E1180850C1001011E001512808D011E00030A010E0520020E080808B77A5C561934E0890A000301114911491011490520011D050E0620021D050E0E060001011011490801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F77730108010007010000000019010014444C4C466F724461746144656372797074696F6E000005010000000017010012436F7079726967687420C2A920203230323300002901002465613662326562362D616261622D343236662D393735322D63626533313962336336643300000C010007312E302E302E3000004D01001C2E4E45544672616D65776F726B2C56657273696F6E3D76342E372E320100540E144672616D65776F726B446973706C61794E616D65142E4E4554204672616D65776F726B20342E372E320401000000000000000005104C88000000000200000079000000202F0000201100000000000000000000000000001000000000000000000000000000000052534453140C47A7E03D824A80CCB73C1F61A1D601000000443A5C50726F6A656374735C53757072656D615C444C4C466F724461746144656372797074696F6E5C444C4C466F724461746144656372797074696F6E5C6F626A5C44656275675C444C4C466F724461746144656372797074696F6E2E70646200C12F00000000000000000000DB2F0000002000000000000000000000000000000000000000000000CD2F0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000000000FF2500200010000000000000000000000000000000000000000000000000000001001000000018000080000000000000000000000000000001000100000030000080000000000000000000000000000001000000000048000000584000007C03000000000000000000007C0334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001000000000000000100000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004DC020000010053007400720069006E006700460069006C00650049006E0066006F000000B802000001003000300030003000300034006200300000001A000100010043006F006D006D0065006E007400730000000000000022000100010043006F006D00700061006E0079004E0061006D0065000000000000000000520015000100460069006C0065004400650073006300720069007000740069006F006E000000000044004C004C0046006F0072004400610074006100440065006300720079007000740069006F006E0000000000300008000100460069006C006500560065007200730069006F006E000000000031002E0030002E0030002E003000000052001900010049006E007400650072006E0061006C004E0061006D006500000044004C004C0046006F0072004400610074006100440065006300720079007000740069006F006E002E0064006C006C00000000004800120001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020002000320030003200330000002A00010001004C006500670061006C00540072006100640065006D00610072006B00730000000000000000005A00190001004F0072006900670069006E0061006C00460069006C0065006E0061006D006500000044004C004C0046006F0072004400610074006100440065006300720079007000740069006F006E002E0064006C006C00000000004A0015000100500072006F0064007500630074004E0061006D0065000000000044004C004C0046006F0072004400610074006100440065006300720079007000740069006F006E0000000000340008000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0030002E00300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000F03F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = UNSAFE
GO
/****** Object:  Table [dbo].[Log_Device_Details]    Script Date: 14-07-2023 14:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Device_Details](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGDATE] [varchar](100) NULL,
	[DEVICE_SERIAL_NO] [varchar](1000) NULL,
	[DEVICE_NAME] [varchar](1000) NULL,
	[DEVICE_STATUS] [int] NULL,
 CONSTRAINT [PK_Log_Device_Details] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monitoring_Logs]    Script Date: 14-07-2023 14:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monitoring_Logs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [varchar](100) NULL,
	[PUNCHTIME] [varchar](100) NULL,
	[SERVER_PUNCHTIME] [varchar](100) NULL,
	[DEVICE_SERIAL_NO] [varchar](1000) NULL,
	[DEVICE_NAME] [varchar](1000) NULL,
	[EVENT_CODE] [varchar](1000) NULL,
	[USERNAME] [varchar](1000) NULL,
	[ROW_NO] [varchar](1000) NULL,
	[INDEXING] [varchar](1000) NULL,
	[USERPHOTOEXISTS] [nvarchar](20) NULL,
	[USERGROUPID] [varchar](100) NULL,
	[USERGROUPNAME] [varchar](1000) NULL,
	[TNA_KEY] [varchar](100) NULL,
	[IMAGE_ID_DATA] [varchar](1000) NULL,
	[IMAGE_ID_TYPE] [varchar](1000) NULL,
	[IMAGE_ID_PHOTO] [varchar](20) NULL,
	[IS_DST] [int] NULL,
	[TIMEZONE_HALF] [int] NULL,
	[TIMEZONE_HOUR] [int] NULL,
	[TIMEZONE_NEGATIVE] [int] NULL,
	[USERUPDATEDBYDEVICE] [varchar](20) NULL,
	[HINT] [varchar](1000) NULL,
	[AccessReason] [varchar](200) NULL,
	[CNDT_NM] [varchar](30) NULL,
 CONSTRAINT [PK_Monitoring_Logs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_asmb_CallDotNetAssemblyEncKeyFunc]    Script Date: 14-07-2023 14:58:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_asmb_CallDotNetAssemblyEncKeyFunc]
	@result [nvarchar](max) OUTPUT
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [DataDecryptionAssembly].[DLLForDataDecryption.DataDecryption].[FetchEncryptionKey]
GO
/****** Object:  StoredProcedure [dbo].[usp_asmb_CallDotNetAssemblyFunc]    Script Date: 14-07-2023 14:58:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_asmb_CallDotNetAssemblyFunc]
	@data [nvarchar](max),
	@key [nvarchar](max),
	@result [nvarchar](max) OUTPUT
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [DataDecryptionAssembly].[DLLForDataDecryption.DataDecryption].[DcryptedDataResult]
GO
/****** Object:  StoredProcedure [dbo].[usp_tbl_DeviceLog_Insert]    Script Date: 14-07-2023 14:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Farheen
-- Create date: 28 June'23
-- Description:	Insert device log whose status is disconnected/offline
-- =============================================
CREATE PROCEDURE [dbo].[usp_tbl_DeviceLog_Insert]
	@LOGDATE varchar(100)
,   @DEVICESERIALNO varchar(1000)
,   @DEVICENAME varchar(1000)
AS
BEGIN
	DECLARE @CountRow INT = 0

	set @CountRow=(Select Count(*) from Log_Device_Details where device_serial_no = @DEVICESERIALNO and Device_Name=@DEVICENAME and device_status=0)
	
	if(@CountRow = 0)
	BEGIN       
       Insert into Log_Device_Details(LogDate,device_name,device_serial_no,device_status)
       values
       (@LOGDATE,@DEVICENAME,@DEVICESERIALNO,0);
       
       Commit;
       Select 1 as Status;
    END   
    ELSE
	BEGIN
		set @CountRow=(Select Count(*) from Log_Device_Details where device_serial_no = @DEVICESERIALNO and Device_Name=@DEVICENAME 
		and device_status=1)
        if(@CountRow>0)
		BEGIN
			Update log_device_details set logdate=@LOGDATE, device_Status=0;
			Commit;
			Select 1 as Status;
		END
		ELSE
		BEGIN
			Select 0 as Status;
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tbl_DeviceLogDate_Get]    Script Date: 14-07-2023 14:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Farheen
-- Create date: 28 June'23
-- Description:	Fetch log date of device whose event change to 1 i.e. connected/online
-- =============================================
CREATE PROCEDURE [dbo].[usp_tbl_DeviceLogDate_Get]
	@Device_Serial_No varchar(1000)
,   @Device_Name varchar(1000)
AS
BEGIN
	declare @LOG_DATE varchar(100)
	
	set @LOG_DATE=(Select top 1 logdate from log_device_details where device_name=@Device_Name and device_serial_no=@Device_Serial_No 
	and device_status=0)

	Update log_device_details set device_status=1 where device_name=@Device_Name and device_serial_no=@Device_Serial_No and device_status=0;
	
	Select @LOG_DATE as LogDate;
	Commit;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tbl_MonitoringEvent_Insert]    Script Date: 14-07-2023 14:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Farheen
-- Create date: 28 June'23
-- Description:	Insert monitoring log data in the monitorin table.
-- =============================================
CREATE PROCEDURE [dbo].[usp_tbl_MonitoringEvent_Insert]
  @ROW_NO VARCHAR(1000)
, @SERVERPUNCHTIME VARCHAR(100)
, @PUNCH_TIME VARCHAR(100) 
, @INDEXING VARCHAR(1000)
, @USERID VARCHAR(100)='0'
, @USER_NAME VARCHAR(1000)
, @UserPhotoExists nvarchar(20)
, @UserGroupId VARCHAR(100)
, @UserGroupName VARCHAR(1000) 
, @DEVICESERIALNO VARCHAR(1000)
, @DEVICENAME VARCHAR(1000)
, @EVENTCODE VARCHAR(1000)
, @tna_Key VARCHAR(100)
, @Image_ID_Data VARCHAR(1000)
, @Image_ID_Type VARCHAR(1000)
, @Image_ID_Photo VARCHAR(1000)
, @is_dst int=null
, @TimeZone_half int = null
, @TimeZone_hour int = null
, @TimeZone_negative int=null
, @UserUpdatedByDevice VARCHAR(20)
, @Hint VARCHAR(1000)
, @EventDescription varchar(150)
, @CNDT_NM varchar(30)
AS
BEGIN
	DECLARE @CountRow int=0;   
	if(@USERID is null OR @USERID='0' OR @USERID='')
	BEGIN
        Set @CountRow = (Select Count(*) from Monitoring_Logs where device_serial_no=@DEVICESERIALNO and punchtime=@PUNCH_TIME 
		and event_code=@EVENTCODE)
	END
    ELSE
	BEGIN
       set @CountRow=(Select Count(*) from Monitoring_Logs where device_serial_no=@DEVICESERIALNO and punchtime=@PUNCH_TIME and 
	   user_id=@USERID and event_code=@EVENTCODE)
    END 
	
	if(@CountRow = 0)
	BEGIN
		Begin Transaction;
        Insert into Monitoring_Logs(User_ID,punchtime,server_punchtime,device_serial_no,device_name, event_code,
        username,row_no,indexing,userphotoexists,usergroupid,usergroupname,tna_key,image_id_data,image_id_type,image_id_photo,is_dst,
        timezone_half,timezone_hour,timezone_negative,userupdatedbydevice,hint,AccessReason,CNDT_NM)
        values
        (@USERID,@PUNCH_TIME,@SERVERPUNCHTIME,@DEVICESERIALNO,@DEVICENAME,@EVENTCODE,@USER_NAME,@ROW_NO,@INDEXING,@UserPhotoExists,
		@UserGroupId,@UserGroupName,@tna_Key,@Image_ID_Data,@Image_ID_Type,@Image_ID_Photo,@is_dst,@TimeZone_half,@TimeZone_hour,
		@TimeZone_negative,@UserUpdatedByDevice,@Hint,@EventDescription,@CNDT_NM);
        
        Commit transaction;
		Select 1 as Status;
	END
    ELSE
	BEGIN
       Select 0 as Status;
    END
END
GO
USE [master]
GO
